@charset "UTF-8";
$mp-head-h: 80px; //头部高度
$mp-red: #de143a; //主题红色色值
$mp-opt-blue: #73d7ec !default; //默认蓝色
$mp-opt-green: #57d678 !default; //默认绿色
$mp-red-active: #cc1437; //主题红色获取到焦点色值
$mp-hdft-pl: 100px; //头部和底部左右padding
$mp-foot-h: 60px; //底部高度
$mp-bd-color: #e5e5e5; //边框颜色
$btn-bg: #e2202d; //按钮颜色
$btn-bg-active: #f02331; //
$btn-bg-primary: #fbfaf8; //原始按钮颜色
$btn-bg-primary-active: #fefefe;
$mp-flowThemeColor: #ff8400; //流量平台主色调
$mp-flowThemeColor-active: #f17305; //流量平台主题颜色色获取到焦点色值
$btn-flowThemeColor-bg: #ff8400; //流量平台按钮颜色
$btn-flowThemeColor-bg-active: #f17305; //流量平台按钮焦点颜色
$mp-ttl-color: #333; //标题颜色
